{% extends 'base.html' %}
{% block title %} Hello {% endblock %}
{% block content%}
<div class="container">
    <h2>Таблицы первой сортировки</h2>
    <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Продукт</th>
                  <th>Номер машины</th>
                  <th>Время прихода</th>
                  <th>Время ухода</th>
                  <th>Масса груза(кг)</th>
                </tr>
              </thead>
              <tbody>
                {% for i in f_s %}
                <tr>
                  <td>{{ i.id }}</td>
                  <td>{{ i.title }}</td>
                  <td>{{ i.numbers_auto }}</td>
                  <td>{{ i.created }}</td>
                  <td>{{ i.updated }}</td>
                  <td>{{ i.calc }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
</div>
{% endblock %}