{% extends 'base.html' %}
{% block title %} Hello {% endblock %}
{% block content%}
<div class="container">
    <div class="row">
        <h2>Таблицы приходов</h2>
        <nav>
            <a class="btn btn-outline-primary" href="{% url 'grocery:f_s_create' %}">Создать запись</a>
            <a class="btn btn-outline-primary" href="{% url 'grocery:product_type_add' %}">Создать продукт</a>
            <a class="btn btn-outline-primary" href="{% url 'grocery:arrival_filter' %}">Фильтр</a>

        </nav>
        <div class="table-responsive col-8">
        <h3>Таблица всех всех приходов</h3>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                  <th>#</th>
                  <th>Продукт</th>
                  <th>Номер машины</th>
                  <th>Дата прихода</th>
                  <th>Время</th>
                  <th>Дата ухода</th>
                  <th>Время</th>
                  <th>Масса груза(кг)</th>
                </tr>
            </thead>
            <tbody>
                {% for i in f_s %}
                <tr>
                  <td><a href="{% url 'grocery:f_s_edit' i.id %}">{{ i.id }}</a></td>
                  <td><a href="{% url 'grocery:arrivals_by_title' title=i.title.id %}">{{ i.title }}</a></td>
                  <td><a href="{% url 'grocery:arrivals_by_auto' auto=i.numbers_auto %}">{{ i.numbers_auto }}</a></td>
                  <td><a href="{% url 'grocery:arrivals_date_create' year=i.created.year month=i.created.month day=i.created.day %}">{{ i.created|date:"d.m.y" }}</a></td>
                  <td>{{ i.created.time }}</td>
                  <td><a href="{% url 'grocery:arrivals_date_update' year=i.updated.year month=i.updated.month day=i.updated.day %}">{{ i.updated|date:"d.m.y" }}</a></td>
                  <td>{{ i.updated.time }}</td>
                  <td>{{ i.calc }}</td>
                </tr>
                {% endfor %}
                {% include "pagination.html" with page=f_s %}

            </tbody>
        </table>

    </div>


     <div class="table-responsive col-4">
        <h3>Таблица общего количества продуктов</h3>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                  <th>#</th>
                  <th>Продукт</th>
                  <th>Масса</th>
                </tr>
            </thead>
            <tbody>
                {% for product, mass in product_mass %}
                <tr>
                  <td>{{ product.id }}</td>
                  <td><a href="{% url 'grocery:product_edit' product.id %}">{{ product.title }}</a></td>
                  <td>{{ mass }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock %}