{% extends 'base.html' %}
{% block title %} Hello {% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <h3>{{ store }} </h3>
            <div class="table-responsive col-12">
                <table class="table table-striped table-sm">
            <thead>
                <tr>
                  <th>#</th>
                  <th>Продукт</th>
                  <th>Дата создания</th>
                  <th>Время</th>
                  <th>Дата изменения</th>
                  <th>Время</th>
                  <th>Статус</th>
                  <th>Место нахождения</th>
                  <th>Фасовка</th>
                  <th>Количество</th>
                  <th>Масса</th>

                </tr>
            </thead>
            <tbody>
                {% for i in posts %}
                <tr>
                    <td><a href="{% url 'grocery:tray_edit' i.id %}">{{ i.id }}</a></td>
                    <td>{{ i.title }}</td>
                    <td>{{ i.created|date:"d.m.y" }}</td>
                    <td>{{ i.created|time}}</td>
                    <td>{{ i.updated|date:"d.m.y" }}</td>
                    <td>{{ i.updated|time }}</td>
                    {% if i.status1 != ' ' %}
                        <td>{{ i.status1 }}</td>
                    {% else %}
                        <td>{{ i.status }}</td>
                    {% endif %}
                    <td>{{ i.warehouse }}</td>
                    <td>{{ i.packing }}</td>
                    <td>{{ i.number_pr }}</td>
                    <td>{{ i.calc_netto }}</td>


                </tr>
                {% endfor %}
                {% include "pagination.html" with page=posts %}

            </tbody>
        </table>
            </div>
        </div>
    </div>


{% endblock %}